{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UTPARK</title>
    <link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
    <link rel="icon" href="{% static 'landing/logo1.png' %}">
</head>

<body>
  
    <header class="header">
        <div class="menu container">
            <a href="#" class="logo"><img src="{% static 'landing/logo1.png' %}" alt=""> UTPARK</a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="  {% static 'landing/menu.png' %}" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="  {% url 'index' %}">Inicio</a></li>
                    <li><a href="  {% url 'contacto' %}">Contacto</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <div class="general container">
        <div class="personal">
            <img src="  {% static 'landing/PERSON.jpg' %}" alt="">

            <img src="  {% static 'landing/PERSON2.jpg' %}" alt="">

            <img src="  {% static 'landing/PERSON3.jpg' %}" alt="">

            <img src="  {% static 'landing/PERSON4.jpg' %}"  alt="">

        </div>
    </div>
  
</body>
<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="#"><i class="icono"><img src="  {% static 'landing/facebook.png' %}"  alt=""></i></a>
            <a href="#"><i class="icono"><img src="  {% static 'landing/twitter.png' %}"  alt=""></i></a>
            <a href="#"><i class="icono"><img src="  {% static 'landing/instagram.png' %}"  alt=""></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="  {% url 'index' %}" >Inicio</a></li>
            <li class="list-inline-item"><a href="  {% url 'nosotros' %}">Nosotros</a></li>
            <li class="list-inline-item"><a href="  {% url 'contacto' %}">Contacto</a></li>
            <li class="list-inline-item"><a href="#">Terminos</a></li>
            <li class="list-inline-item"><a href="#">Politica de Privacidad</a></li>
        </ul>
        <p class="copyright">UNIVERSIDAD TECNOLOGIA DE SANTA CATARINA</p>
    </footer>
</div>
</html>